


nav {
    height: 95px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    transition: 1s;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.637);
    padding: 0px 15px 0px 30px;
    backdrop-filter: blur(10px);
    font-family: 'Stem';
    text-transform: uppercase;
    font-weight: 600;
}


.nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
        width: 55px;
    }
}


.nav-right {
    display: flex;
    align-items: center;  

    .login {
        background-color: var(--orange-border);
        border: none;
        height: 55px;
        width: 245px;
        font-family: 'Stem';
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        letter-spacing: 0px;
        padding: 1px;
        clip-path: polygon(0 0, 100% 0, 100% 74%, 94% 100%, 0 100%, 0% 50%);
        cursor: pointer;
        transition: .5s;

        &:hover {
            color: var(--icons);
        }


        div {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--orange);
            width: 100%;
            height: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 74%, 94% 100%, 0 100%, 0% 50%);
        }

        i {
            color: var(--icons);
            margin-right: 20px;
            font-size: 28px;
        }

    }
}

.nav-list {
    list-style: none;
    display: inline-flex;
    justify-content: start;
    align-items: center;
    z-index: 9;

    li:not(:last-child) {
        margin-right: 60px;
        padding-right: 60px;
        border-right: 2px solid rgba(255, 255, 255, 0.08);
    }


    .nav-item {
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: center;
        font-size: 17px;
        text-decoration: none;
        color: #ffffff5d;
        transition: .5s;
        text-transform: uppercase;
        padding: 6px 0px 6px 0px;
        letter-spacing: -0.7px;

        &.active {
            color: white;
        }

        &:hover {
            color: white;
        }

    }

}

.mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 10;

    div {
        width: 20px;
        height: 2px;
        background: #e8771b;
        margin: 5px;
        transition: 0.6s;

    }
}

.nav-list.active {
    transform: translateX(0);
    opacity: 1;

}



@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-width: 768px) {

    .nav-right {

        .login {
            width: 100%;
            clip-path: polygon(0 0, 100% 0, 100% 74%, 80% 100%, 0 100%, 0% 50%);

            div {
                padding: 20px;
                clip-path: polygon(0 0, 100% 0, 100% 74%, 80% 100%, 0 100%, 0% 50%);
                span {
                    display: none;
                }

                i {
                    margin-right: 0;
                }
            }
        }
    }

    .nav-list {
        width: 100% !important;
        
    }
}


@media (max-width: 1280px) {

    .nav-icon {
        display: none;
    }

    .nav-list {
        position: fixed;
        top: 0;
        flex-direction: column;
        align-items: center;
        right: 0;
        width: 30%;
        height: 100vh;
        overflow-y: scroll;
        transform: translateX(100%);
        transition: 0.7s;   
        background-color: rgba(0, 0, 0, 0.815);   
        backdrop-filter: blur(10px);
        padding-top: 50px; 
        opacity: 0;
        
        li:not(:last-child) {
            margin-right: 0px;
            margin-bottom: 50px;
            padding-right: 0;
            border-right: none;
        }

        .logo {
            margin: 0;
            display: none;
        }

        .logo2 {
            display: block;

            img {
                width: 200px;
                margin-bottom: 40px;
            }
        }
    }

    .mobile-menu {
        display: block;  
        z-index: 100;  
    }

    .mobile-menu.active {
        .line1 {
            transform: rotate(-45deg) translate(-8px, 8px);
        }
        .line2 {
            opacity: 0;
        }
        .line3 {
            transform: rotate(45deg) translate(-2px, -2px);
        }

    }     
}
