.servers-title {
    font-family: 'Panton' !important;
}

.servers-online {
    font-family: 'salma pro' !important;
}

.connect {
    font-family: 'salma pro' !important;
}


.swiper-button-next {
    font-family: 'Salma Pro' !important;
}

.swiper-button-prev {
    font-family: 'Salma Pro' !important;
}


.header-news-content-text {
    span {
        font-family: 'Salma Pro' !important;
    }
}

.servers-list-content {
    font-family: 'Salma Pro' !important;
}

.footer-social-title {
    font-family: 'Panton' !important;
}

.servers-list-content-name-text {
    font-family: 'Stem' !important;
}

.footer {
    font-family: 'Salma Pro' !important;
}


.help-nav {
    font-family: 'Salma pro' !important;
}


.inner-header {
    font-family: 'Panton' !important;
}

.tab-nav {
    ul {
        li {
            font-family: 'Salma Pro' !important;
        }
    }
}

