.unsimple {
    margin: auto;
    opacity: 0.2;
    display: inline-flex;
    transition: .4s;
    justify-content: center;
    align-items: center;
    text-align: left;
    text-decoration: none;
    transition: .5s;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;

    img {
        width: 30px;
        margin-right: 10px;
    }

    &:hover {
        opacity: 1;
    }
  }
  