* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#rankeval-widget{
    font-family: "Salma Pro" !important
}
:root {
  --body: #1b1c1d;
  --orange: #e88c1b;
  --orange-border:rgb(255, 168, 38);
  --icons: #231f20;
  --box: rgb(255, 255, 255, 0.08);
  --box-border: #6b6b6b;
  --white: white;
  --white-3: rgba(255, 255, 255, 0.3);
  --white-6: rgba(255, 255, 255, 0.6);
  --title: #bdbdbe;
  --green: #5afe28;
  --subtitle: #808080;
  --white-08: rgba(255, 255, 255, 0.08);
  --white-04: rgba(255, 255, 255, 0.04);
  --red: #ff0000;
  --black: black;
  --black-2: rgba(0, 0, 0, 0.2);
  --button: #181818;
}

@media (max-width: 768px) {
  .v-col-md-12.v-col-lg-7.v-col-12.d-flex.gap-2 {
    flex-direction: column;
  }
  body .v-btn:not(.v-btn--icon,.v-tab).v-btn--variant-text.v-btn--size-default { 
    max-width: none !important;
  }
  .v-card-text.pa-6.d-flex.justify-space-between.leaderboard-title.py-2 {
    gap: 15px !important;
  }
  .v-col-md-4.v-col-lg-3.v-col-3 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-col-sm-0.v-col-md-0.v-col-lg-4.v-col-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-input.v-input--horizontal.v-input--center-affix.v-input--density-comfortable.v-theme--organizationTheme.v-locale--is-ltr.v-text-field.py-4 {
    min-width: 100% !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
  }
  .v-sheet.v-theme--organizationTheme.rounded-lg.static-card.no-border.px-4 {
    gap: 5px !important;
    padding-top: 10px !important;
  }
  .d-flex.align-center.flex-wrap.gap-2 {
    padding-bottom: 10px !important;
  }
  .v-btn.v-btn--variant-outlined.v-btn--size-default.v-btn--density-comfortable.v-btn--variant-text.v-btn--color-default.v-btn--rounded {
    max-width: 100% !important;
  }
  .v-col-5 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .d-flex.align-center.gap-4.h-100 .d-flex.gap-2{
    flex-direction: column !important;
  }

  div[style*="width: 574px"][style*="height: 574px"][style*="heatmap-opacity"] {
    width: 300px !important;
    height: 300px !important;
    overflow: hidden;
    position: relative;
    z-index: 5;
    --heatmap-opacity: 0.9;
  }

  .v-card-text.pa-6.d-flex.justify-space-between.leaderboard-title.py-2 {
    flex-direction: column !important;
  }

  .v-input.v-input--horizontal.v-input--center-affix.v-input--density-comfortable.v-theme--organizationTheme.v-locale--is-ltr.v-text-field.py-4 {
    width: 100% !important;
    min-width: 0 !important;
  }

  .v-row.dense {
    flex-direction: column !important;
  }

  .v-row.dense  .v-col-4.v-col{
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  
  .d-flex.gap-2.justify-space-between.align-center.mb-3.mt-1{
    flex-direction: column !important;
    gap: 10px !important;
    align-items: flex-start !important;
  }
  .v-card-title.section-title.pa-4.mb-0.px-4 .d-flex.align-start.gap-2 {
    flex-direction: column !important;
  }
  .d-flex align-start gap-2

  .d-flex.align-center.flex-wrap.gap-2 {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .d-flex.align-center.flex-grow-1 {
    width: 100% !important;
  }
  .v-input.v-input--horizontal.v-input--center-affix.v-input--density-comfortable.v-theme--organizationTheme.v-locale--is-ltr.v-input--dirty.v-text-field.py-4.v-select.v-select--single.v-select--selected {
    width: 100% !important;
    max-width: 100% !important;
  }
  .v-btn.v-btn--slim {
    width: 100% !important;
    max-width: 100% !important;
  }
  .v-card-actions.section-actions.pa-0.button-group-rounded {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .v-card-actions.section-actions.pa-0.button-group-rounded .v-btn.v-btn--slim.v-theme--organizationTheme.v-btn--density-default.elevation-0.rounded-lg.v-btn--size-default.v-btn--variant-tonal.flex-grow-1 {
    width: 100% !important;
    max-width: 100% !important;
  }
  .v-btn.v-btn--block {
    text-align: center !important;
  }
  .v-col .v-row {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .v-col-sm-12.v-col-md-6.v-col-lg-4.v-col-4 {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
  .v-card-text.pa-6.d-flex.gap-4 {
    flex-direction: column !important;
    gap: 10px !important;
  }
  .v-card-text.pa-6.d-flex.gap-4.pa-4 {
    flex-direction: row !important;
    gap: 10px !important;
  }
  .v-avatar-group.avatar-group {
    overflow-x: auto !important;
  }
}



body {
  background-color: var(--body);
  font-family: 'Antarctican';
  overflow-x: hidden;
  -webkit-transition: .5s;
  transition: .5s;
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.effect {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: fly 10s infinite linear;
  animation: fly 10s infinite linear;
}

.effect2 {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  -webkit-animation: fly 10s 5s infinite linear;
  animation: fly 10s 5s infinite linear;
  opacity: 0;
}

@-webkit-keyframes fly {
  0% {
    top: 200px;
    right: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: -1000px;
    opacity: 1;
    right: -1000px;
  }
}

@keyframes fly {
  0% {
    top: 200px;
    right: 0;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: -1000px;
    opacity: 1;
    right: -1000px;
  }
}

.header-background li:nth-child(1) span {
  background-image: url("../images/bg/1.jpg");
}

.header-background li:nth-child(2) span {
  background-image: url("../images/bg/1-2.jpg");
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.header-background li:nth-child(3) span {
  background-image: url("../images/bg/1-3.jpg");
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

.header-background li:nth-child(4) span {
  background-image: url("../images/bg/1-4.jpg");
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

.header-background li:nth-child(5) span {
  background-image: url("../images/bg/1-5.jpg");
  -webkit-animation-delay: 24s;
          animation-delay: 24s;
}

@-webkit-keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.header-background {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 954px;
  overflow: hidden;
  z-index: 1;
}

.header-background li {
  position: absolute;
  width: 100%;
  height: 100%;
}

.header-background li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  -webkit-animation: imageAnimation 30s linear infinite 0s;
          animation: imageAnimation 30s linear infinite 0s;
}

.header-background-shadow {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(#151515));
  background: linear-gradient(rgba(0, 0, 0, 0), #151515);
  position: absolute;
  width: 100%;
  height: 954px;
  z-index: 2;
}

section {
  position: relative;
  z-index: 3;
  text-align: center;
}

.header {
  padding-bottom: 130px;
  overflow: hidden;
}

.header .header-logo {
  padding-top: 250px;
  padding-bottom: 120px;
}

.header .header-logo .logo {
  position: relative;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .header-logo .logo:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header .header-logo .logo:hover .fire-logo {
  opacity: 1;
}

.header .header-logo .logo .fire-logo {
  position: absolute;
  top: -150px;
  left: 205px;
  opacity: 0;
  -webkit-filter: blur(2px);
          filter: blur(2px);
  z-index: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .header-logo .logo .fire-logo img {
  width: 200px;
}

.header .header-logo img {
  width: 900px;
}

.header .header-news {
  position: relative;
}

.header .header-news .swiper-slide {
  opacity: 0.4;
}

.header .header-news .swiper-slide-visible {
  opacity: 1;
}

.header .header-news .swiper-button-prev {
  left: 0;
}

.header .header-news .swiper-button-next {
  right: 0;
}

.header .header-news .swiper-pagination {
  top: 125%;
}

.header .header-news .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

.header .header-news .swiper-pagination-bullet {
  border-radius: 0;
  background-color: transparent;
  border: 2px solid var(--white-3);
  height: 12px;
  width: 12px;
}

.header .header-news .swiper-pagination-bullet-active {
  border: 2px solid var(--white);
  background-color: var(--white);
}

.header .header-news .header-news-control {
  top: 130%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-news .header-news-control:hover .header-news-control-icon {
  background-color: var(--orange);
}

.header .header-news .header-news-control .prev-icon {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 70%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 70%);
}

.header .header-news .header-news-control .next-icon {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 0 100%, 0% 50%);
}

.header .header-news .header-news-control .header-news-control-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 14px 20px 14px;
  height: 45px;
  background-color: var(--white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .header-news .header-news-control .prev {
  margin-left: 15px;
}

.header .header-news .header-news-control .next {
  margin-right: 15px;
}

.header .header-news .header-news-control span {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.header .header-news .header-news-content {
  background-color: var(--box);
  height: 215px;
  border: 1px solid var(--box);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  padding: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
}

.header .header-news .header-news-content:hover {
  border: 1px solid var(--white-3);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.header .header-news .header-news-content .header-news-content-img {
  width: 35%;
  height: 100%;
  overflow: hidden;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 85%, 90% 100%, 0 100%, 0% 50%);
}

.header .header-news .header-news-content .header-news-content-img img {
  width: 100%;
  height: 100%;
}

.header .header-news .header-news-content .header-news-content-text {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 40px;
  width: 65%;
}

.header .header-news .header-news-content .header-news-content-text span {
  color: #e8771b;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 15px;
}

.header .header-news .header-news-content .header-news-content-text h1 {
  font-family: 'Stem';
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  letter-spacing: 1px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.servers {
  background: url(../images/bg/2.jpg) top no-repeat;
  padding-top: 180px;
  padding-bottom: 110px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}

.servers .servers-title {
  font-family: 'Rust', 'Salma Pro', sens-serif !important;
  font-size: 72px;
  color: var(--title);
  letter-spacing: 3px;
  margin-bottom: 25px;
}

.servers .servers-online {
  letter-spacing: 2.5px;
  color: var(--subtitle);
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.servers .servers-online span {
  color: var(--green);
  font-weight: 500;
}

.servers .servers-list {
  position: relative;
  z-index: 2;
  display: flex;
}

.servers .servers-list .swiper-button-prev {
  left: 0;
}

.servers .servers-list .swiper-button-next {
  right: 0;
}

.servers .servers-list .swiper-pagination {
  top: 113%;
  display: none;
}

.servers .servers-list .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px;
}

.servers .servers-list .swiper-pagination-bullet {
  border-radius: 0;
  background-color: transparent;
  border: 2px solid var(--white-3);
  height: 12px;
  width: 12px;
}

.servers .servers-list .swiper-pagination-bullet-active {
  border: 2px solid var(--white);
  background-color: var(--white);
}

.servers .servers-list .servers-list-control {
  top: 115%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.servers .servers-list .servers-list-control:hover .header-news-control-icon {
  background-color: var(--orange);
}

.servers .servers-list .servers-list-control .prev-icon {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 70%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 100% 100%, 25% 100%, 0 70%);
}

.servers .servers-list .servers-list-control .next-icon {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 70%, 75% 100%, 0 100%, 0% 50%);
}

.servers .servers-list .servers-list-control .servers-list-control-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 14px 20px 14px;
  height: 45px;
  background-color: var(--white);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-control .prev {
  margin-left: 15px;
}

.servers .servers-list .servers-list-control .prev p {
  display: none;
}

.servers .servers-list .servers-list-control .next {
  margin-right: 15px;
}

.servers .servers-list .servers-list-control .next p {
  display: none;
}

.servers .servers-list .servers-list-control span {
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
}

.servers .servers-list .servers-list-content {
  height: 445px;
  background-color: var(--box);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  padding: 1px 0px 1px 0px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
  border-top: 2px solid var(--box-border);
  border-bottom: 1px solid var(--box-border);
  -webkit-transition: .5s;
  transition: .5s;
  border-left: 1px solid rgba(255, 255, 255, 0);
  border-right: 1px solid rgba(255, 255, 255, 0);
  position: relative;
}

.servers .servers-list .servers-list-content:hover {
  border-left: 1px solid var(--box-border);
  border-right: 1px solid var(--box-border);
}

.servers .servers-list .servers-list-content:hover .servers-list-content-name .servers-list-content-name-img img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.servers .servers-list .servers-list-content .coming-soon {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.servers .servers-list .servers-list-content .coming-soon .coming-soon-icon {
  font-size: 50px;
  color: var(--white-3);
  margin-bottom: 50px;
}

.servers .servers-list .servers-list-content .coming-soon .coming-soon-text {
  color: var(--white);
  font-size: 25px;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding: 0px 30px 0px 30px;
  letter-spacing: 1px;
}

.servers .servers-list .servers-list-content .coming-soon a {
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--orange);
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .coming-soon a:hover {
  color: var(--white);
}

.servers .servers-list .servers-list-content .servers-list-content-play {
  padding: 35px 25px 30px 25px;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-online {
  margin-bottom: 25px;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-online p {
  color: var(--white);
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-online p .online {
  color: var(--green);
  font-weight: 500;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-online p span {
  color: white;
  font-weight: 500;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .connect {
  width: 74%;
  background-color: var(--orange);
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0% 50%);
  padding: 2px 1px 1px 1px;
  outline: none;
  border: none;
  font-family: 'Antarctican';
  cursor: pointer;
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .connect:hover {
  background-color: var(--button);
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .connect:hover div {
  background-color: var(--orange);
  color: var(--black);
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .connect div {
  position: relative;
  background-color: var(--button);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 95% 100%, 0 100%, 0% 50%);
  width: 100%;
  height: 100%;
  color: var(--white);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 22px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 4px;
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .connect div span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  background-color: var(--white-08);
  top: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .shop {
  width: 22%;
  height: 60px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 85% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 80%, 85% 100%, 0 100%, 0% 50%);
  background-color: var(--button);
  padding: 2px 1px 1px 1px;
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .shop div {
  background: -webkit-gradient(linear, left top, left bottom, from(#5c5c5c), color-stop(#949494), to(#d4d4d4));
  background: linear-gradient(#5c5c5c, #949494, #d4d4d4);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0px;
  color: #232727;
  font-size: 20px;
  position: relative;
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .shop div:hover {
  -webkit-filter: brightness(150%);
          filter: brightness(150%);
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .shop div span {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50%;
  top: 0;
  background-color: var(--white-3);
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .servers-list-content-play .servers-list-content-play-connect-shop .shop div i {
  z-index: 1;
}

.servers .servers-list .servers-list-content .servers-list-content-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 15px 20px 15px;
  border-bottom: 1px solid var(--black-2);
}

.servers .servers-list .servers-list-content .servers-list-content-info .servers-list-content-info-ip {
  font-size: 20px;
  letter-spacing: 0.3px;
}

.servers .servers-list .servers-list-content .servers-list-content-info .servers-list-content-info-ip p {
  color: var(--orange);
}

.servers .servers-list .servers-list-content .servers-list-content-info .servers-list-content-info-ip p span {
  color: var(--white);
  font-weight: 500;
}

.servers .servers-list .servers-list-content .servers-list-content-info .servers-list-content-info-stats {
  background-color: var(--orange);
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 90% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 78%, 90% 100%, 0 100%, 0% 50%);
  padding: 1px;
}

.servers .servers-list .servers-list-content .servers-list-content-info .servers-list-content-info-stats div {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 90% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 78%, 90% 100%, 0 100%, 0% 50%);
  background-color: var(--button);
  padding: 8px 20px 8px 20px;
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .servers-list-content-info .servers-list-content-info-stats div:hover {
  background-color: var(--orange);
  color: var(--black);
}

.servers .servers-list .servers-list-content .servers-list-content-name {
  height: 185px;
  width: 100%;
  position: relative;
  padding-bottom: 66px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.servers .servers-list .servers-list-content .servers-list-content-name .servers-list-content-name-img {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  z-index: -1;
  background-color: black;
}

.servers .servers-list .servers-list-content .servers-list-content-name .servers-list-content-name-img img {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  -webkit-transition: .5s;
  transition: .5s;
}

.servers .servers-list .servers-list-content .servers-list-content-name .servers-list-content-name-wipe {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: var(--red);
  border-top: 1px solid var(--white-08);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.servers .servers-list .servers-list-content .servers-list-content-name .servers-list-content-name-wipe div {
  background-color: var(--black);
  border: 1px solid var(--red);
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 10px;
}

.servers .servers-list .servers-list-content .servers-list-content-name .servers-list-content-name-wipe p span {
  color: var(--white);
}

.servers .servers-list .servers-list-content .servers-list-content-name .servers-list-content-name-text {
  color: var(--white);
  font-family: 'Stem';
  font-size: 42px;
  letter-spacing: 3px;
  font-weight: bold;
}

.footer {
  position: relative;
  padding-top: 240px;
  background-color: var(--black);
}

.footer .footer-social {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 130px;
}

.footer .footer-social .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-social .footer-social-title {
  font-family: 'Rust', 'Salma Pro', sens-serif !important;
  color: var(--title);
  font-size: 48px;
  margin-bottom: 45px;
  letter-spacing: 1px;
}

.footer .footer-social div {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer-social div a:not(:last-child) {
  margin-right: 25px;
}

.footer .footer-social div a {
  background-color: var(--white-6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  width: 80px;
  color: var(--button);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 78%, 83% 100%, 0 100%, 0% 50%);
          clip-path: polygon(0 0, 100% 0, 100% 78%, 83% 100%, 0 100%, 0% 50%);
  text-decoration: none;
  font-size: 32px;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer .footer-social div a:hover {
  background-color: var(--orange);
}

.footer .footer-social div a .fa-discord {
  font-size: 28px !important;
}

.footer .footer-copyright {
  position: relative;
  z-index: 2;
  -webkit-backdrop-filter: blur(25px);
          backdrop-filter: blur(25px);
  background-color: var(--box);
  padding: 70px;
}

.footer .footer-copyright .footer-copyright-links {
  margin-bottom: 15px;
}

.footer .footer-copyright .footer-copyright-links a:not(:last-child) {
  margin-right: 55px;
}

.footer .footer-copyright .footer-copyright-links a {
  text-decoration: none;
  color: #a5a7a7;
  text-transform: uppercase;
  font-size: 19px;
  letter-spacing: 1px;
  font-weight: 500;
  -webkit-transition: .5s;
  transition: .5s;
}

.footer .footer-copyright .footer-copyright-links a:hover {
  color: var(--orange);
}

.footer .footer-copyright .footer-copyright-text {
  text-transform: uppercase;
  color: var(--white-3);
  letter-spacing: 1px;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 40px;
  line-height: 25px;
}

.footer .footer-copyright .footer-copyright-logos {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer .footer-copyright .footer-copyright-logos div {
  margin-right: 50px;
}

.footer .footer-copyright .footer-copyright-logos div img {
  width: 200px;
  opacity: 0.5;
}

.footer .footer-background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 1000px;
  top: -200px;
  overflow: hidden;
  -webkit-mask: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, white));
  -webkit-mask: linear-gradient(to bottom, transparent 0%, white 20%);
          mask: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(20%, white));
          mask: linear-gradient(to bottom, transparent 0%, white 20%);
}

.container {
  width: 1280px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .servers {
    background: url(../images/bg/2-mobile.jpg) top no-repeat;
  }
  .servers .servers-title {
    font-size: 42px;
  }
  .servers .servers-list .swiper-pagination {
    display: block;
  }
  .servers .servers-list .servers-list-control {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer-social .footer-social-title {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  .footer .footer-social div {
    -webkit-transform: scale(0.78);
            transform: scale(0.78);
  }
  .footer .footer-copyright .footer-copyright-links a:not(:last-child) {
    margin-right: 10px;
  }
  .footer .footer-copyright .footer-copyright-links a {
    font-size: 14px;
  }
  .footer .footer-copyright .footer-copyright-text {
    font-size: 12px;
    line-height: 20px;
  }
  .footer .footer-copyright .footer-copyright-logos {
    display: block;
  }
  .footer .footer-copyright .footer-copyright-logos div {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .footer .footer-background {
    top: -200px;
  }
  .header .header-logo .logo .fire-logo {
    display: none;
  }
  .header .header-logo img {
    width: 350px;
  }
  .header .header-news .swiper-pagination {
    top: 117%;
  }
  .header .header-news .header-news-control {
    top: 120%;
  }
  .header .header-news .header-news-control .prev p {
    display: none;
  }
  .header .header-news .header-news-control .next p {
    display: none;
  }
  .header .header-news .header-news-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
  }
  .header .header-news .header-news-content .header-news-content-img {
    width: 100%;
    margin-bottom: 20px;
    height: 150px;
  }
  .header .header-news .header-news-content .header-news-content-text {
    padding: 0;
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .effect {
    display: none;
  }
  .effect2 {
    display: none;
  }
  .container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .servers {
    background: url(../images/bg/2.jpg) top/cover no-repeat;
  }
  .footer .footer-background img {
    width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */